In [2]:
import pandas as pd
import matplotlib as plt

train_data = pd.read_csv('trFeatures.csv')
train_lbl = pd.read_csv('trTarget.csv')
test = pd.read_csv('testFeature.csv')

In [3]:
train_data.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [4]:
train_data.describe()

,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
count,1456.000000,1456.000000,1262.000000,1404.000000,1434.000000,1434.000000,1443.000000,1446.000000,1446.000000,1446.000000,...,1446.000000,1446.000000,1443.000000,1446.000000,1446.000000,1413.000000,1413.000000,1436.000000,1442.000000,1434.000000
mean,2001.031593,26.503434,0.142294,0.130553,0.203783,0.202305,45.760388,298.701852,299.225578,295.246356,...,40.151819,82.161959,45.760388,16.746427,4.903754,27.185783,8.059328,32.452437,22.102150,39.326360
std,5.408314,15.019437,0.140531,0.119999,0.073860,0.083903,43.715537,1.362420,1.261715,1.527810,...,43.434399,7.153897,43.715537,1.542494,3.546445,1.292347,2.128568,1.959318,1.574066,47.455314
min,1990.000000,1.000000,-0.406250,-0.456100,-0.015533,-0.063457,0.000000,294.635714,294.892857,289.642857,...,0.000000,57.787143,0.000000,11.715714,1.357143,21.400000,4.528571,26.700000,14.700000,0.000000
25%,1997.000000,13.750000,0.044950,0.049217,0.155087,0.144209,9.800000,297.658929,298.257143,294.118929,...,13.055000,77.177143,9.800000,15.557143,2.328571,26.300000,6.514286,31.100000,21.100000,8.700000
50%,2002.000000,26.500000,0.128817,0.121429,0.196050,0.189450,38.340000,298.646429,299.289286,295.640714,...,27.245000,80.301429,38.340000,17.087143,2.857143,27.414286,7.300000,32.800000,22.200000,23.850000
75%,2005.000000,39.250000,0.248483,0.216600,0.248846,0.246982,70.235000,299.833571,300.207143,296.460000,...,52.200000,86.357857,70.235000,17.978214,7.625000,28.157143,9.566667,33.900000,23.300000,53.900000
max,2010.000000,53.000000,0.508357,0.454429,0.538314,0.546017,390.600000,302.200000,302.928571,298.450000,...,570.500000,98.610000,390.600000,20.461429,16.028571,30.800000,15.800000,42.200000,25.600000,543.300000

In [5]:
train_data.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [6]:
train_lbl.describe()

              year   weekofyear  total_cases
count  1456.000000  1456.000000  1456.000000
mean   2001.031593    26.503434    24.675137
std       5.408314    15.019437    43.596000
min    1990.000000     1.000000     0.000000
25%    1997.000000    13.750000     5.000000
50%    2002.000000    26.500000    12.000000
75%    2005.000000    39.250000    28.000000
max    2010.000000    53.000000   461.000000

In [7]:
print(train_data.columns)
print('-----')
print(train_lbl.columns)

Index(['city', 'year', 'weekofyear', 'week_start_date', 'ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm'],
      dtype='object')
-----
Index(['city', 'year', 'weekofyear', 'total_cases'], dtype='object')

In [8]:
# train_data = train_data[['city', 'year', 'weekofyear', 'ndvi_ne', 'ndvi_nw',
#        'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
#        'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
#        'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
#        'reanalysis_precip_amt_kg_per_m2',
#        'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
#        'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
#        'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
#        'station_min_temp_c', 'station_precip_mm']]
train_data

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8
5,sj,1990,23,NaN,0.174850,0.254314,0.181743,9.58,299.630000,299.764286,...,26.49,79.891429,9.58,17.212857,2.100000,28.114286,6.942857,34.4,23.9,39.1
6,sj,1990,24,0.112900,0.092800,0.205071,0.210271,3.48,299.207143,299.221429,...,38.60,82.000000,3.48,17.234286,2.042857,27.414286,6.771429,32.2,23.3,29.7
7,sj,1990,25,0.072500,0.072500,0.151471,0.133029,151.12,299.591429,299.528571,...,30.00,83.375714,151.12,17.977143,1.571429,28.371429,7.685714,33.9,22.8,21.1
8,sj,1990,26,0.102450,0.146175,0.125571,0.123600,19.32,299.578571,299.557143,...,37.51,82.768571,19.32,17.790000,1.885714,28.328571,7.385714,33.9,22.8,21.1
9,sj,1990,27,NaN,0.121550,0.160683,0.202567,14.41,300.154286,300.278571,...,28.40,81.281429,14.41,18.071429,2.014286,28.328571,6.514286,33.9,24.4,1.1
10,sj,1990,28,0.192875,0.082350,0.191943,0.152929,22.27,299.512857,299.592857,...,43.72,81.467143,22.27,17.418571,2.157143,27.557143,7.157143,31.7,21.7,63.7
11,sj,1990,29,0.291600,0.211800,0.301200,0.280667,59.17,299.667143,299.750000,...,40.90,82.144286,59.17,17.737143,2.414286,28.128571,6.900000,32.8,23.9,12.2
12,sj,1990,30,0.150567,0.171700,0.226900,0.214557,16.48,299.558571,299.635714,...,42.53,80.742857,16.48,17.341429,2.071429,28.114286,6.357143,31.7,22.8,32.6
13,sj,1990,31,NaN,0.247150,0.379700,0.381357,32.66,299.862857,299.950000,...,34.60,80.584286,32.66,17.594286,2.585714,28.242857,8.085714,34.4,22.8,37.6
14,sj,1990,32,NaN,0.064333,0.164443,0.138857,28.80,300.391429,300.478571,...,20.00,79.650000,28.80,17.950000,2.328571,28.200000,7.557143,33.3,23.3,11.4
15,sj,1990,33,NaN,0.128033,0.206957,0.168243,90.75,299.958571,299.957143,...,101.90,84.178571,90.75,18.515714,1.857143,28.042857,6.685714,32.8,22.8,44.7
16,sj,1990,34,0.190233,0.168800,0.167657,0.172286,32.40,300.332857,300.414286,...,25.90,80.947143,32.40,18.174286,2.485714,28.342857,7.014286,33.3,23.3,5.4
17,sj,1990,35,0.252900,0.330750,0.264171,0.284314,40.94,300.118571,300.221429,...,39.80,83.348571,40.94,18.515714,1.900000,28.657143,6.528571,32.2,24.4,13.7
18,sj,1990,36,0.235400,0.200025,0.283817,0.230443,28.86,300.530000,300.635714,...,30.40,77.172857,28.86,17.560000,3.471429,28.328571,7.614286,32.8,23.3,14.2
19,sj,1990,37,0.127967,0.437100,0.123400,0.148283,64.56,300.674286,300.792857,...,24.18,81.551429,64.56,18.777143,2.900000,28.685714,8.057143,33.9,24.4,25.9
20,sj,1990,38,0.196350,0.182433,0.254829,0.305686,143.73,299.857143,299.900000,...,36.60,81.637143,143.73,17.892857,1.742857,28.242857,8.114286,32.8,23.9,3.3
21,sj,1990,39,0.116100,0.260900,0.199443,0.244217,51.39,300.427143,300.600000,...,16.40,77.048571,51.39,17.468571,2.257143,28.342857,7.728571,32.8,24.4,15.8
22,sj,1990,40,0.228550,0.189750,0.212486,0.201186,31.18,300.775714,300.850000,...,36.10,78.520000,31.18,18.180000,2.900000,28.771429,8.028571,33.3,23.9,11.7
23,sj,1990,41,0.171150,0.067550,0.179467,0.157717,51.42,299.857143,299.942857,...,132.40,84.110000,51.42,18.512857,2.571429,28.628571,7.314286,33.3,24.4,57.7
24,sj,1990,42,NaN,0.070200,0.181617,0.165750,143.55,299.195714,299.307143,...,279.60,85.621429,143.55,18.115714,1.871429,27.628571,7.400000,32.8,23.3,61.8
25,sj,1990,43,0.146200,0.089750,0.128829,0.123929,127.03,298.902857,299.042857,...,94.52,85.502857,127.03,17.750000,1.800000,26.771429,7.628571,32.2,21.7,91.5
26,sj,1990,44,0.252250,0.183433,0.318000,0.295900,101.35,299.727143,299.778571,...,22.26,82.787143,101.35,18.034286,1.785714,27.971429,8.642857,33.3,22.8,6.3
27,sj,1990,45,0.152600,0.181775,0.178329,0.186629,20.46,299.972857,300.035714,...,14.40,81.715714,20.46,18.074286,2.385714,28.471429,8.428571,33.3,23.9,6.6
28,sj,1990,46,0.290800,0.224600,0.180386,0.234886,20.00,300.350000,300.500000,...,7.10,75.728571,20.00,17.085714,2.200000,27.542857,8.600000,32.8,22.2,38.9
29,sj,1990,47,0.272200,0.330350,0.131633,0.125383,20.04,299.511429,299.635714,...,36.70,78.151429,20.04,16.752857,2.528571,26.800000,7.414286,31.7,22.2,9.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1426,iq,2009,49,0.348529,0.290400,0.410614,0.370457,73.45,298.762857,299.935714,...,134.43,91.708571,73.45,18.671429,7.757143,28.025000,10.375000,35.3,22.2,49.0
1427,iq,2009,50,0.192200,0.193529,0.239886,0.285886,85.62,299.198571,300.678571,...,49.32,87.752857,85.62,18.304286,10.442857,28.550000,11.000000,35.2,21.2,41.9
1428,iq,2009,51,0.217600,0.240300,0.181771,0.262300,81.21,298.347143,299.350000,...,208.87,92.958571,81.21,18.601429,6.671429,28.200000,11.125000,35.6,22.0,54.1
1429,iq,2009,52,0.210422,0.257138,0.221133,0.300256,98.79,297.181429,298.185714,...,66.30,96.885714,98.79,18.180000,5.257143,27.200000,8.200000,32.2,21.8,31.2
1430,iq,2010,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431,iq,2010,1,0.124571,0.179129,0.163843,0.135471,27.04,299.264286,300.521429,...,8.50,78.271429,27.04,16.127143,11.100000,28.600000,12.300000,35.1,21.8,NaN
1432,iq,2010,2,0.145286,0.142314,0.135300,0.167529,32.99,298.297143,299.935714,...,144.60,89.807143,32.99,17.758571,9.157143,27.833333,11.300000,34.2,22.1,15.0
1433,iq,2010,3,0.252114,0.230486,0.187329,0.302786,19.04,298.925714,300.457143,...,31.20,87.641429,19.04,18.001429,8.628571,28.966667,11.266667,35.2,22.5,0.8
1434,iq,2010,4,0.263271,0.230600,0.218871,0.261286,138.51,298.291429,299.614286,...,65.76,91.798571,138.51,18.192857,7.685714,27.800000,10.520000,35.3,22.4,166.0
1435,iq,2010,5,0.170100,0.142117,0.117914,0.139343,47.31,298.754286,300.342857,...,95.83,90.648571,47.31,18.522857,8.314286,27.800000,9.266667,34.2,22.0,62.3
1436,iq,2010,6,0.230757,0.189257,0.163486,0.238871,78.25,298.251429,299.678571,...,172.70,96.515714,78.25,19.345714,6.328571,27.000000,8.300000,33.2,22.9,14.5
1437,iq,2010,7,0.293300,0.247829,0.206629,0.266671,32.19,299.648571,300.950000,...,54.20,88.365714,32.19,18.857143,9.414286,27.300000,11.800000,35.5,21.4,60.9
1438,iq,2010,8,0.303657,0.260057,0.225486,0.333314,84.67,298.917143,300.485714,...,288.40,94.915714,84.67,19.772857,8.171429,28.020000,10.360000,35.4,21.4,29.9
1439,iq,2010,9,0.127317,0.181160,0.120467,0.142767,80.58,298.337143,299.664286,...,144.98,97.700000,80.58,19.754286,6.242857,28.500000,9.900000,35.4,21.2,9.9
1440,iq,2010,10,0.311729,0.292686,0.272586,0.394800,57.78,298.837143,300.092857,...,86.10,96.250000,57.78,20.091429,8.814286,28.550000,10.050000,35.4,21.4,44.5
1441,iq,2010,11,0.294600,0.250971,0.281471,0.341643,121.20,299.191429,300.928571,...,191.76,96.124286,121.20,20.461429,8.828571,30.000000,12.000000,36.0,22.0,22.9
1442,iq,2010,12,0.266286,0.301233,0.296000,0.295743,51.29,299.004286,300.300000,...,214.90,93.082857,51.29,19.368571,8.028571,27.466667,9.333333,34.5,21.0,20.0
1443,iq,2010,13,0.141433,0.204729,0.250971,0.145243,49.80,299.002857,300.714286,...,24.25,88.707143,49.80,18.214286,9.514286,27.933333,12.300000,35.3,21.0,16.0
1444,iq,2010,14,0.242843,0.272757,0.202271,0.260114,93.76,299.115714,300.271429,...,164.70,95.182857,93.76,20.078571,7.714286,29.200000,12.300000,35.4,22.5,NaN
1445,iq,2010,15,0.157686,0.156614,0.184014,0.135886,17.33,298.305714,299.557143,...,150.80,93.655714,17.33,18.677143,7.228571,27.150000,9.600000,33.0,21.2,18.0
1446,iq,2010,16,0.231486,0.294686,0.331657,0.244400,86.70,298.438571,299.507143,...,81.40,95.995714,86.70,19.448571,7.757143,27.850000,9.600000,33.5,22.5,51.1
1447,iq,2010,17,0.239743,0.259271,0.307786,0.307943,26.00,299.048571,300.028571,...,23.60,87.657143,26.00,18.068571,8.257143,28.850000,12.125000,36.2,21.4,35.4
1448,iq,2010,18,0.260814,0.255786,0.257771,0.340286,73.97,297.617143,298.585714,...,85.46,96.712857,73.97,18.602857,5.714286,27.600000,9.600000,33.2,21.4,8.1
1449,iq,2010,19,0.168686,0.158500,0.133071,0.145600,59.40,297.278571,297.935714,...,87.30,97.445714,59.40,18.391429,6.185714,27.400000,10.400000,33.7,21.2,32.0
1450,iq,2010,20,0.263071,0.272500,0.258271,0.244500,1.15,297.648571,298.707143,...,8.80,78.998571,1.15,14.908571,11.242857,25.633333,9.200000,34.0,20.0,2.5
1451,iq,2010,21,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,300.771429,...,45.00,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0
1452,iq,2010,22,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,299.392857,...,207.10,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6
1453,iq,2010,23,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,297.592857,...,50.60,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4
1454,iq,2010,24,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,297.521429,...,62.33,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0
1455,iq,2010,25,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,299.835714,...,36.90,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4

In [9]:
train_data.head()

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [10]:
set(train_data['city'])

{'iq', 'sj'}

In [11]:
def find_correlation(data, threshold=0.9):
    corr_mat = data.corr()
    corr_mat.loc[:, :] = np.tril(corr_mat, k=-1)
    already_in = set()
    result = []
    for col in corr_mat:
        perfect_corr = corr_mat[col][abs(corr_mat[col])> threshold].index.tolist()
        if perfect_corr and col not in already_in:
            already_in.update(set(perfect_corr))
            perfect_corr.append(col)
            result.append(perfect_corr)
    select_nested = [f[1:] for f in result]
    select_flat = [i for j in select_nested for i in j]
    return select_flat

In [12]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

train_data['city'] = label_encoder.fit_transform(train_data['city'])

In [13]:
train_data.head()

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,1,1990,18,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,1,1990,19,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,1,1990,20,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,1,1990,21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,1,1990,22,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [14]:
train_lbl.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [15]:
train_lbl['city'] = label_encoder.fit_transform(train_lbl['city'])

In [16]:
train_lbl.head()

   city  year  weekofyear  total_cases
0     1  1990          18            4
1     1  1990          19            5
2     1  1990          20            4
3     1  1990          21            3
4     1  1990          22            6

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.svm import SVC
from sklearn import metrics
svc=SVC(probability=True, kernel='linear')

model = LogisticRegression(C=1e7, solver="liblinear", multi_class="ovr")
abc =AdaBoostClassifier(n_estimators=50, base_estimator=svc,learning_rate=1)

In [18]:
train_lbl['total_cases']

0        4
1        5
2        4
3        3
4        6
5        2
6        4
7        5
8       10
9        6
10       8
11       2
12       6
13      17
14      23
15      13
16      21
17      28
18      24
19      20
20      40
21      27
22      42
23      33
24      43
25      37
26      57
27      71
28      44
29      56
        ..
1426     4
1427     4
1428     1
1429     0
1430     0
1431    10
1432     9
1433    17
1434    16
1435    11
1436    12
1437    19
1438    15
1439    12
1440    12
1441    16
1442     9
1443     4
1444     9
1445     6
1446     8
1447     4
1448     2
1449     7
1450     6
1451     5
1452     8
1453     1
1454     1
1455     4
Name: total_cases, Length: 1456, dtype: int64

In [19]:
train_data=train_data.fillna(1)

In [20]:
abc.fit(train_data,train_lbl['total_cases'])

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=SVC(C=1.0, cache_size=200, class_weight=None,
                                      coef0=0.0, decision_function_shape='ovr',
                                      degree=3, gamma='auto_deprecated',
                                      kernel='linear', max_iter=-1,
                                      probability=True, random_state=None,
                                      shrinking=True, tol=0.001,
                                      verbose=False),
                   learning_rate=1, n_estimators=50, random_state=None)

In [21]:
test.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,2008-04-29,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,2008-05-06,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,2008-05-13,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,2008-05-20,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,2008-05-27,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [22]:
test['city'] = label_encoder.fit_transform(test['city'])

In [23]:
test.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,1,2008,18,2008-04-29,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,1,2008,19,2008-05-06,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,1,2008,20,2008-05-13,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,1,2008,21,2008-05-20,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,1,2008,22,2008-05-27,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [24]:
test.columns

Index(['city', 'year', 'weekofyear', 'week_start_date', 'ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm'],
      dtype='object')

In [25]:
# test = test[['city', 'year', 'weekofyear', 'ndvi_ne', 'ndvi_nw',
#        'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
#        'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
#        'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
#        'reanalysis_precip_amt_kg_per_m2',
#        'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
#        'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
#        'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
#        'station_min_temp_c', 'station_precip_mm']]

In [26]:
test.head()

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,1,2008,18,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,298.550000,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,1,2008,19,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,298.557143,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,1,2008,20,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,299.357143,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,1,2008,21,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,299.728571,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,1,2008,22,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,299.671429,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [27]:
test = test.fillna(1)

In [28]:
abc.predict(test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int64)

In [29]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()

In [30]:
rf.fit(train_data,train_lbl['total_cases'])

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [31]:
rf.predict(test)

array([  7,   1,   3,   4,   4,  13,   7,   5,  13,   2,   3,   6,   4,
         5,  16,  14,   3,   3,  10,  56,   3,  26,  28,  34,   3,   6,
         7,  19,   6,  10,   8,   7,   6,  15,   6,   1,   9,  11,   6,
        35,   6,   9,   2,   3,   0,   3,   2,   2,   2,   3,   3,  13,
         2,   3,   2,   2,  10,  13,   3,   2,   3,  13,   6,  13,  13,
         3,  15,   4,  35,  35,  13,  18,   4, 135, 135,  83,   2,  16,
         1,   7,   5,   7,   3,   3,  10,   3,  14,  10,  12,   6,   7,
         1,  10,   7,   4,   5,   1,   7,   2,   1,   7,   1,   6,   2,
         5,  13,   7,   3,   1,   3,   3,   6,  10,  16,  14,  12,  21,
         3,  20,   7, 101,  38, 135, 135,  10,  19,  19,  19,   3,   6,
         1,   8,  34,   1,   2,  29,   3,   2,   5,  29,   9,   7,   7,
         5,   6,   6,  14,   7,   4,   9,   7,   6,   1,   6,   2,   6,
         2,   7,   2,   3,   3,  10,  10,   4,   1,   3,  10,   4,   2,
        43,  10,   3,  12,   4,   7,  43,  10,  10,   3,   3,   4,   3,
        10,   7,   0,  18,  10,  35,  14,  19,   3,  13,   8,   7,  14,
         9,   1,  11,   7,   9,   2,   0,   1,   3,   3,   0,   8,   4,
         0,   2,   3,   7,   3,   7,   1,   5,  11,  11,  16,  10,  23,
        12,   2,  43,   3,   7,  18,  16,  13, 106, 126,   3,  14,  43,
        43,  17,  34,   8,  33,   9,  10,  12,   5,   1,   8,   1,   9,
         7,   3,  22,   7,   2,   3,   2,   3,   5,   1,   5,   4,   1,
         4,   3,   2,   1,   2,   5,   2,   0,   7,   0,   3,   0,   0,
         0,   5,   0,   3,   2,   2,   3,   5,   2,   5,   2,   4,   0,
         1,   5,   2,  12,   0,   1,   0,   2,   1,  30,   2,  13,  18,
        10,   4,   0,   1,   2,   2,   1,   6,   3,   0,   5,   6,   3,
         1,   1,   1,   2,   0,   4,   2,   7,   3,   5,   0,   3,   0,
         1,   0,   1,   2,   2,   0,   0,   2,  16,   1,   2,   2,   2,
         5,   0,   3,   6,   3,   1,   7,   1,   1,   1,   2,   1,   0,
         4,   1,   8,  26,   4,   1,   1,   4,   2,   4,   2,   0,   7,
         2,   1,   3,   4,   2,   0,   5,   5,   5,   1,   6,   2,   2,
         0,   2,   5,   0,   4,   5,   5,   6,   2,   4,   5,   2,   2,
        30,   1,   0,   9,   4,   1,   7,   2,   3,   6,   5,   6,   5,
         2,   4,   2,   0,   2,   6,   2,   0,   4,   2,   0,   1,   3],
      dtype=int64)

In [32]:
l = rf.predict(test)

In [33]:
print(len(l))

416

In [34]:
print(test.shape)

(416, 23)

In [35]:
data_answer = pd.DataFrame({'total_cases':l})

In [38]:
data_answer['weekofyear'] = test.weekofyear
data_answer['city'] = test.city
data_answer.head()

   total_cases  weekofyear  city
0            7          18     1
1            1          19     1
2            3          20     1
3            4          21     1
4            4          22     1

In [39]:
data_answer.to_csv("answer.csv",index=False)